<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <h1>{{titulo}}</h1>
    <input type="text" v-model="nuevaFruta" >
    <button @click="agregarFruta">Agregar</button>
    <ul>
      <li v-for="fruta in frutas">{{fruta.cantidad}} - {{fruta.nombre}}
        <span v-if='fruta.cantidad===0'> - sin stock</span>
      </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        titulo: "Vue",
        frutas: [
          {
            nombre: 'pera', cantidad: 10
          },
          {
            nombre: 'manzana', cantidad: 0
          },
          {
            nombre: 'platano', cantidad: 5
          },
        ],
        nuevaFruta: ""
      },
      methods: {
        agregarFruta () {
          console.log('click')
          this.frutas.push({
            nombre: this.nuevaFruta,
            cantidad: 0
          })
        }
      }
    })
  </script>
</body>
</html>